benches/psf/convolution_matrix.txt filter=lfs diff=lfs merge=lfs -text
benches/psf/parity_check_matrix.txt filter=lfs diff=lfs merge=lfs -text
benches/psf/trapdoor.txt filter=lfs diff=lfs merge=lfs -text
